* {
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
    font-size: 14px;
}

body {
    margin: 0;
    background-color: #181818;

}

header {
    height: 120px;
    background-color: #181818;
    position: sticky;
    top: 0;
    z-index: 9998;
}